<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="https://twitter.com/unlikenesses" target="_blank">Twitter</a>
      <a class="sidebar-nav-item" href="https://github.com/unlikenesses" target="_blank">Github</a>
      <a class="sidebar-nav-item" href="http://codepen.io/unlikenesses/" target="_blank">Codepen</a>
    </nav>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{clear:left; font-size:14px; }
      #mc_embed_signup input { border: 1px solid rgba(255,255,255,.5); }
      #mc_embed_signup input.email { width: 100%; font-family: 'Roboto Slab', Helvetica, Arial, sans-serif; }
      #mc_embed_signup form { padding-left: 0; }
      #mc_embed_signup input.button { width: 50%; }
      #mc_embed_signup .button { background-color: rgba(255,255,255,.5); font-family: 'Roboto Slab', Helvetica, Arial, sans-serif; color: #ac4142; }
      #mc_embed_signup .button:hover { background-color: rgba(255, 255, 255, 1); }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="//unlikenesses.us16.list-manage.com/subscribe/post?u=10d0fb49bc331ab8668b0fa14&amp;id=786a57e78d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Subscribe for updates</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10d0fb49bc331ab8668b0fa14_786a57e78d" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
